form {
   
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border:1px solid gray;
    border-radius: 10%;

   
    
}

input {
   
    border-color:gray ;
}

html,body { height: 100%; margin: 0px; padding: 0px; }

label {
    color: black;
}


.userList {
    width: 28rem;

}

.userList:first-child{
    margin-top: 1rem;
    border-top-left-radius: 0 !important; 
    border-top-right-radius: 0 !important;
}
.card {
    
    width: 58rem;
    text-overflow: ellipsis;
    margin-top: 1rem;
    
}

.users {
   
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
    

}

.userItem p{
    text-align: center;
}
.title {
    background-color: transparent;
}
.userItem a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.userItem a button {
    border-radius: 0.4rem;
}

.userItem {
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

.forms {
      
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
    background-color: bisque;
   
}