.forms {
  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: bisque;
    height: 100%;
}
html,body { height: 100%; margin: 0px; padding: 0px; }
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


input {
    width: 40rem;
}

.pass,.user {
    width: 40rem;
}

.login {
    padding: 0.5rem;
    width: 40rem;
    background-color: white;
    border-radius: 0.3rem;
    outline: none;
}

.signup {
    margin-top: 1rem;
    margin-bottom: 1rem;
}