{% extends 'personalblog/base.html' %}
{%block styling%}
{%load static%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'personalblog/profile.css' %}">
{%endblock%}

{% block title%}
Login
{%endblock%}


{% block content%}

<div class="box">
  <div class="profile">

    {% if request.user.is_authenticated%}
 
     <div class="blogSec">
      <div class="boxCard">
        <div class="profileCard" style="width: 18rem;">
          <img src="{{profile.img.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{user.username}}</h5>
            <p class="card-text">{{profile.bio}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  
      </div>
          <div class="blogs">
            <div class="cards">
              <div class="card-body">
                <h5 class="card-title">{{user.username}}'s posts</h5>
                
              </div>
            </div>
            {%for blog in userBlogs%}
              {% if blog.author == request.user %}
                <div class="card">
                    
                    <div class="card-body">
                      <h5 class="card-title">{{user.username}}</h5>
                      <p class="card-text">{{blog.text}}</p>
                    
                    </div>
                  </div>
              {% endif %}
          {% endfor %}
          </div>
     </div>

    {%endif%}
    
</div>
</div>
{%endblock%}